$footer-color: #c2c2c2;
$main-color: #ffffff;
$desktop-width: 1280px;
$tablet-width: 600px;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
