@import "normalize";

body,
html {
  font-size: 16px;
  color: #ffffff;
  background-color: black;
  text-align: center;
}
header {
  display: flex;
}
span {
  text-transform: uppercase;
}
footer {
  color: #c2c2c2;
  margin-top: 10rem;
}
.container {
  display: flex;
}
article {
  display: none;
  flex: 0 1 100;
  max-width: 100%;
  background-image: url(https://placekitten.com/200/300);
}
select {
  padding: 0.25rem 1rem 0.25rem 0;
  text-align: left;
}
svg {
  width: 100%;
  height: 250px;
}

#svg-container {
  margin: 0 auto;
  margin-top: 20vh;
  width: 100%;
}

@media all and (min-width: 600px) {
}
